<?xml version="1.0" ?>
<settings version="1">
    <section id="script.akl.tgdb">
        <category id="akl_tgdb_general" label="30010" help="">
			<group id="1">
                <setting id="thegamesdb_apikey" type="string" label="30101" help="">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30101</heading>
                    </control>
                </setting>
                <setting id="scraper_cache_dir" type="path" label="30102" help="">
                    <level>1</level>
                    <default></default>
                    <constraints>
                        <writable>true</writable>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="path">
                        <heading>30102</heading>
                    </control>
                </setting>
                <setting id="log_level" type="integer" label="30129" help="">
                    <level>1</level>
                    <default>1</default>
                    <constraints>
                        <options>
                            <option label="30911">0</option>
                            <option label="30912">1</option>
                            <option label="30913">2</option>
                            <option label="30914">3</option>
                            <option label="30915">4</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="akl.enabled" type="boolean" label="Enable as AKL plugin" help="">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="akl.plugin_types" type="string" label="AKL plugin type(s)" help="">
                    <level>4</level>
                    <default>SCRAPER</default>
                </setting>
                <setting id="akl.scraper.supported_metadata" type="string" label="Metadata supported by this scraper" help="">
                    <level>4</level>
                    <default>title|year|genre|developer|nplayers|esrb|plot|tags</default>
                </setting>
                <setting id="akl.scraper.supported_assets" type="string" label="Assets supported by this scraper" help="">
                    <level>4</level>
                    <default>fanart|banner|snap|clearlogo|boxfront|boxback|trailer</default>
                </setting>
                <setting id="akl.scraper.supported_system_assets" type="string" label="System assets supported by this scraper" help="">
                    <level>4</level>
                    <default>fanart|banner|icon</default>
                </setting>
                <setting id="akl.scraper.friendlyname" type="string" label="Scraper friendlyname" help="">
                    <level>4</level>
                    <default>TheGamesDB</default>
                </setting>
            </group>
        </category>
    </section>
</settings>